@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

/* add reboot bootstrap*/
body {
  font-family: "Lato", sans-serif;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
a,
input,
button {
  display: block;
}

a,
button,
input,
input:focus,
input::placeholder {
  color: inherit;
}
input {
  outline: none;
}

/* add bootstrap */
.fs-5dot5 {
  font-size: 1.125rem !important;
  /* line-height: calc(1.25rem + 0.15vw) !important; */
}
/* Nếu màn hình có chiều rộng > 1200px, set the font-size to 80px */
@media (min-width: 992) {
  .fs-5-responsive {
    font-size: 1.25rem !important;
  }
}
/* Nếu màn hình có chiều rộng > 1200px, set the font-size to 30px */
@media (max-width: 991.98px) {
  .fs-5-responsive {
    font-size: 1rem !important;
  }
}

/* mine */
.w-1600 {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}
.w-1200 {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

/* header */
header {
  background-image: url("../imgs/Bitmap 1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
button {
  background: linear-gradient(90deg, #fe985b 2.77%, #fe4fa7 100%);
  white-space: nowrap;
}
.header-main {
  padding: 250px 0;
}
.header-main h1 {
  font-size: 55px !important;
}
.h-53 {
  height: 53px;
}
input {
  padding-left: 20px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
input:hover {
  --bs-bg-opacity: 0.5;
}
input:focus {
  --bs-bg-opacity: 0.25;
}

/* service */
.service-container {
  padding: 86px 0 132px;
  border-top: 1px solid #e2e2e2;
}

.service-item p:nth-child(2) {
  margin: 20px 0 14px;
  font-size: 18px;
  color: #141414;
}

.service-item p:nth-child(3) {
  line-height: 28px;
}

.testimonals {
  background-color: #f6fafd;
  margin: 130px 0;
  border-top: 2px solid #979797;
  border-bottom: 2px solid #979797;
}

/* .testimonals .image {
  max-width: 400px;
  height: 650px;
} */

.testimonals .text {
  font-size: 24px;
}

.testimonals .text > p {
  max-width: 550px;
}

.choose-container {
  max-width: 750px;
  margin: 0px auto;
}

.choose-item {
  background-color: #f6fafd;
}

.choose-item p .price {
  color: #fe4fa7;
  font-size: 72px;
  font-weight: bold;
}

.choose button {
  font-size: 18px;
  line-height: 22px;
  padding: 15px 50px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/* comment */
.choose .btn {
  color: #fff;
  background: linear-gradient(90deg, #fe985b 2.77%, #fe4fa7 100%);
  border: none;
}

#get-started {
  background: linear-gradient(90deg, #fe985b 2.77%, #fe4fa7 100%);
  padding: 120px 0;
}

#get-started h2 {
  font-weight: 700;
  font-size: 55px;
  line-height: 60px;
}

#get-started p {
  font-size: 20px;
  line-height: 30px;
  margin: 28px auto 22px;
  max-width: 550px;
}

#get-started button {
  font-size: 18px;
  line-height: 22px;
  color: #464646;
  background-color: #fff;
  padding: 15px 50px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: none;
  flex-direction: column;
}

.footer {
  width: 700px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.footer .footer-text {
  font-weight: 400;
}

@media (max-width: 768px) {
  #get-started h2 {
    font-size: 39px;
  }
}

@media (max-width: 576px) {
  #get-started h2 {
    font-size: 30px;
  }

  #get-started p {
    font-size: 16px;
  }
}

/* bổ sung bootstrap */
.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
  position: relative;
  padding: 0 15px;
}
.col-2dot4 {
  flex: 0 0 auto;
  max-width: 20%;
}
@media (min-width: 540px) {
  .col-sm-2dot4 {
    flex: 0 0 auto;
    max-width: 20%;
  }
}
@media (min-width: 720px) {
  .col-md-2dot4 {
    flex: 0 0 auto;
    max-width: 20%;
  }
}
@media (min-width: 960px) {
  .col-lg-2dot4 {
    flex: 0 0 auto;
    max-width: 20%;
  }
}
@media (min-width: 1140px) {
  .col-xl-2dot4 {
    flex: 0 0 auto;
    max-width: 20%;
  }
}
