# không đẩy lên trên github
# chọn file riêng biệt
note.txt
# chọn nhóm file txt
**.txt
# chọn thư mục
content1/
day_24-responsit/exercise/style.scss
day_24-responsit/exercise/style.css.map
day_24-responsit/exercise/reset.css