#header {
  width: 100%;
  background: var(--background-color);
  color: #fff;
}

.icon {
  color: #fff;
  margin: 4px;
}

/* top */
.header-top {
  height: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top > ul > li {
  display: inline;
  margin: 0 8px;
}
.header-top > ul > li > a:hover {
  color: var(--primary-color);
  transition: all 0.3s ease;
}

.header-top .social {
  font-size: 0.85em;
}

/* header main */
.header-main {
  height: 90px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-main .logo {
  width: 200px;
}

.header-main > .search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-main > .search > .txb-search {
  width: 370px;
  height: 37px;
  padding: 0 10px;
  border-radius: 18px;
  font-size: 13px;
}

.header-main > .search > .txb-search:hover,
.header-main > .search > .txb-search:focus {
  transition: all 0.2s;
  box-shadow: 0 0 6px 3px rgba(225, 225, 225, 0.3);
}

.header-main > .search > .btn {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  border: 0.5px solid #464646;
  margin-left: 10px;

  position: relative;
}

.header-main > .search > .btn:hover,
.header-main > .search > .btn:focus {
  transition: all 0.5s;
  background-color: var(--primary-color);
}

/* cart */

.header-main > .cart-wrapper {
  width: 200px;
  height: 30px;
  margin: 10px;

  display: flex;
  justify-content: flex-end;
}

.header-main > .cart-wrapper > .cart {
  position: relative;
}

.header-main > .cart-wrapper > .cart .cart-animation {
  width: 13px;
  height: 13px;
  border-radius: 50% 50% 0 0;
  border: 2px solid #fff;

  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s;
}

.header-main > .cart-wrapper > .cart .cart-count {
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  background: var(--background-color);
  border-radius: 0 0 5px 5px;

  font-weight: 600;
  color: var(--primary-color);
  line-height: 30px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.header-main > .cart-wrapper > .cart:hover .cart-animation {
  top: -10px;
}

.header-main > .cart-wrapper > .cart:hover .cart-count {
  transition: all 0.3s;
  background-color: #fff;
}

.header-main > .cart-wrapper > .cart .cart-list {
  width: 200px;
  padding: 20px 15px;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #fff;
  color: #464646;
  box-shadow: 0 0 0 1px #fff;
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 90;
  transform: translate(50%, -50%) scale(0);
}

.header-main > .cart-wrapper > .cart:hover .cart-list {
  transition: all 0.25s ease-out;
  transform: translate(0, 0) scale(1);
}

.header-main > .cart-wrapper > .cart .cart-list::before {
  content: '';
  position: absolute;
  background-color: #fff;
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  box-shadow: 0 0 0 1px #fff;
  top: -8px;
  right: 7px;
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
}

.header-main > .cart-wrapper > .cart .cart-list::after {
  content: '';
  background-color: transparent;
  position: absolute;
  top: -11px;
  right: 0px;
  width: 30px;
  height: 14px;
}

/* nav */
.navigation {
  width: 100%;
  min-height: 55px;
  padding: 5px;
  background: var(--background-color);
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 50;
}

.navigation > ul {
  white-space: nowrap;
  /* overflow-x: auto; */
}

.navigation > ul > li {
  display: inline;
  margin: 0 30px;

  position: relative;
  transition: all 0.3s;
}

.active,
.navigation > ul > li:hover {
  color: var(--primary-color);
}

.navigation > ul > li:hover::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);

  animation: stretch 0.5s forwards;
}

@keyframes stretch {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.navigation > ul > li > a {
  text-transform: uppercase;
}
