* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  color: #333;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
}

form,
input,
textarea {
  display: inline-block;
}

button {
  border: none;
  outline: none;
}
