* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #74c0fc;
  height: 500px;

  display: flex;

  /* thuộc tính áp dụng lên trục main */
  /* flex-direction: row; */
  /* justify-content: center; */
  /* flex-wrap: wrap; */

  /* thuộc tính áp dụng lên trục cross */
  /* align-items: center; */
  /* thuộc tính căn chỉnh các hàng, phải có wrap */
  /* align-content: space-around; */
}

.item {
  width: 150px;
  height: 150px;
  background-color: tomato;
  border: 5px solid #000;
  color: #fff;
  font-size: 32px;

  /* center 1 dòng*/
  text-align: center;
  line-height: 150px;

  /* center nhiều dòng */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.item:nth-child(3) {
  /* áp dụng lên trục main */
  /* order: 2; */
  /* flex-basis: 300px; */

  /* áp dụng lên trục cross */
  align-self: center;
}

.item:nth-child(2) {
  align-self: flex-end;
}
