/* clear */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  background: transparent;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  font-size: 100%;
  font-weight: inherit;
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
  margin: auto;
}
